.cache
.history
.netlify
.rollup.cache
.vscode
.vscode/settings.json
.yarn

*.
*.spec.ts
*.spec.tsx
**/.DS_Store
**/*.log

public/icons/icons.json
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
build
dist
dist-dev
etc
external
lib
lib-types
node_modules
output
package-lock.json
pnpm-lock.yaml
rollup.config.js
server
target
temp
tsc-out
tsconfig.tsbuildinfo
tsdoc-metadata.json
yarn.lock
